<div class="d-flex justify-content-center">
    <div class="mx-auto" style="width: 500px;">
        <div class="row" style="padding: 15px;">
            <div class="offset-3 mb-5">
                <img src="../../../assets/images/quizzle-logo.png" width="150px" height="130">
            </div>
            <div class="offset-2">
                <h1 class="h3 mb-3 fw-normal offset-1">Please register</h1>
                <mat-stepper [linear]="isLinear" orientation="vertical" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Fill out your account details</ng-template>
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput #emailInput="matInput" placeholder="Email Address" formControlName="email" required>
                                <mat-error *ngIf="firstFormGroup.get('email')?.hasError('required')">Email field is required</mat-error>
                                <mat-error *ngIf="firstFormGroup.get('email')?.hasError('email')">Please enter a valid eamil</mat-error>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" label="Fill in your Password">
                        <form [formGroup]="secondFormGroup">
                            <mat-form-field appearance="fill">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password" placeholder="At least 6 chars" required>
                                <mat-error *ngIf="secondFormGroup.get('password')?.hasError('required')">Password field is required</mat-error>
                                <mat-error *ngIf="secondFormGroup.get('password')?.hasError('minlength')">Must be at least 6 chars</mat-error>

                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput type="password" formControlName="confirmPassword" placeholder="Must match password" required>
                                <mat-error *ngIf="secondFormGroup.get('confirmPassword')?.hasError('matching')">Must match password</mat-error>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button (click)="submitForm()" matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p>You are now done.</p>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button (click)="stepper.reset()">Reset</button>
                        </div>
                    </mat-step>
                </mat-stepper>
            </div>
        </div>
    </div>
</div>