<div class="example-container">
    <h1>Create Quizz</h1>
    <small class="text-muted">Create your own quizz to challenge your friends</small>
    <hr>
    <mat-stepper [linear]="isLinear" orientation="horizontal" #stepper>
        <mat-step [stepControl]="titleFormGroup">
            <form [formGroup]="titleFormGroup">
                <ng-template matStepLabel>Fill out your quizz title</ng-template>
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput #titleInput="matInput" placeholder="Email Address" formControlName="title" required>
                    <mat-error *ngIf="titleFormGroup.get('title')?.hasError('required')">Title field is required</mat-error>
                    <mat-error *ngIf="titleFormGroup.get('title')?.hasError('minlength')">Must be at least 4 chars</mat-error>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="quizzFormGroup" label="Create your quizz">
            <form [formGroup]="quizzFormGroup">
                <div class="row">
                    <div class="col-4">
                        <mat-form-field class="cat-form-field" appearance="fill">
                            <mat-select (selectionChange)="reloadQuestions()" formControlName="category">
                                <mat-option>-- Any --</mat-option>
                                <mat-option *ngFor="let cat of this.categories" [value]="cat.id">{{cat.name}}</mat-option>
                            </mat-select>
                            <mat-label> <b>Category</b></mat-label>
                        </mat-form-field>
                    </div>
    
                    <div class="col-4 p-3">
                        <label class="difficulty-label">Difficulty: </label>
                        <mat-radio-group (change)="onDifficultyChange($event)" formControlName="difficulty">
                            <mat-radio-button value="">Any</mat-radio-button>
                            <mat-radio-button value="easy">Easy</mat-radio-button>
                            <mat-radio-button value="medium">Medium</mat-radio-button>
                            <mat-radio-button value="hard">Hard</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="row mt-4" cdkDropListGroup>
                    <div class="question-container col-4">
                        <h2>Questions</h2>
                        <div cdkDropList [cdkDropListData]="loadedQuestions" class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let loadedQuestion of loadedQuestions" cdkDrag>
                                {{loadedQuestion.question}}</div>
                        </div>
                        <div class="row">
                            <div class="offset-5 mt-4">
                                <button (click)="reloadQuestions()" mat-mini-fab
                                    aria-label="Example icon button with a autorenew icon">
                                    <mat-icon>autorenew</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
    
                    <div class="question-container col-4">
                        <h2>Your Quizz</h2>
                        <div #questionBox (click)="questionsAreTouched=true" cdkDropList [cdkDropListData]="quizzQuestions"
                            class="example-list" (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let quizzQuestion of quizzQuestions" cdkDrag>
                                {{quizzQuestion.question}}
                            </div>
                        </div>
                        <mat-error *ngIf="(questionsAreTouched && canDropQuestions)">Quizz must contain 15 questions
                        </mat-error>
                    </div>
    
                    <div class="question-container col-4">
                        <h2>Bonus question</h2>
                        <div (click)="bonusQuestionIsTouched=true" #bonusQuestion cdkDropList
                            [cdkDropListData]="bonusQuestions" class="example-list" (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let bonus of bonusQuestions" cdkDrag>
                                {{bonus.question}}</div>
                        </div>
                        <mat-error *ngIf="(bonusQuestionIsTouched && canDropBonusQuestion)">Bonus question is required
                        </mat-error>
                    </div>
                </div>
                
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button [disabled]="canDropQuestions || canDropBonusQuestion" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                <button mat-button [disabled]="canDropQuestions || canDropBonusQuestion" (click)="submitQuizz()">Create</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>