<div class="content-container row align-items-center h-100">
    <div class="border border-5 rounded-pill quizz-container h-100">
        <div class="loader-container" *ngIf="isLoading">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!isLoading">
            <div class="row progress-container mb-4">
                <div class="col-6">
                    <mat-progress-bar mode="determinate" [value]="quizzProgressValue"></mat-progress-bar>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-5 question-container border border-4 rounded-pill">
                    <p>
                        {{currentQuestion?.question}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="answers-container col-12">
                    <mat-selection-list #inputAnswers [multiple]="false">
                        <mat-list-option (click)="selectAnswerHandler(inputAnswers)" [disabled]="hasSelectedAnswer"
                            *ngFor="let answer of currentAnswers" [value]="answer">
                            {{answer}}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                <div class="buttons-container mt-5">
                    <button mat-fab aria-label="Example icon button with a autorenew icon" (click)="getQuestions()"
                        [disabled]="hasSelectedCorrectAnswer">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                    <button mat-fab aria-label="Example icon button with a autorenew icon"
                        (click)="fiftyFiftyClickHandler(inputAnswers)"
                        [disabled]="fiftyfiftyIsUsed || hasSelectedAnswer" [class.used-joker]="fiftyfiftyIsUsed">
                        50:50
                    </button>
                    <button mat-fab aria-label="Example icon button with a autorenew icon"
                        (click)="skipQuestionClickHandler()" [disabled]="skipQuestionIsUsed || hasSelectedAnswer"
                        [class.used-joker]="skipQuestionIsUsed">
                        <mat-icon>skip_next</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>