.content-container {
    width: 100%;
    max-width: 75%;
    padding: 15px;
    margin: auto;
}

.quizz-container {
    background-image: url(../../../assets/images/quizz/politics.jpg);
    border-color: #b192e4;
    padding: 15%;
    align-items: center;
    display: inline-grid;
}

.progress-container{
    justify-content: center;
}

.question-container {
    background-color: rgb(177, 146, 228, 0.8);
    display: inline-grid;
    height: 100px;
    align-content: center;
}

.question-container p {
    font-weight: bold;
    color: ivory;
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0px;
    font-size: 110%;
}

.mat-list-base .mat-list-option {
    color: ivory;
    font-weight: bold;
}

.mat-list-single-selected-option,
.mat-list-single-selected-option:hover,
.mat-list-single-selected-option:focus {
    background: rgb(177 146 228 / 50%);
    border-radius: 50rem;
}

.mat-list-base .mat-list-item {
    background: rgb(232 229 237 / 50%);
    border-radius: 50rem;
    margin-bottom: 10px;
}

::ng-deep .mat-list-item-ripple {
    border-radius: 50rem;
}

.mat-list-item:hover {
    background: rgb(177 146 228 / 50%) !important;
}

.correct-answer {
    animation: blinker 1s linear infinite;
    background-color: rgba(48, 219, 88, 0.5) !important;
}
.incorrect-answer{
    background-color: rgba(219, 48, 48, 0.5) !important;
}

.eliminated-answer{
    visibility: hidden;
}

.buttons-container{
    display: flex;
    justify-content: center;
}

.mat-fab.mat-accent {
    background-color: #b192e4;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    border: 1px solid #b192e4 !important;
}

.used-joker{
    background-color: grey;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}