.demo-table {
    width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    background: rgb(177, 146, 228, 1) !important;
}

.mat-table tbody, mat-row, [mat-row]{
    background: rgb(177, 146, 228, 0.5) !important;
}

.mat-table {
    background: transparent;
}
